@import "tailwindcss";

@media (pointer: fine) {
  body {
    cursor: none;
  }
  
  a, button, .cursor-hover {
    cursor: none; 
  }
}

/* KILLS DEFAULT SCROLLBAR COMPLETELY */
::-webkit-scrollbar {
  display: none; 
}

* {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}